input{
    width: 100%;
    display: block;
    margin: 1rem 0;
}


main table{
    border-collapse: collapse;
}


main table th{
    border: 1px solid black;
    padding: 1rem 1rem;
}

main table td{
    border: 1px solid black;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

input.error{
    background-color:crimson;
}